:root {
  --primary-color: #de8ebe;
  --text-color: #333;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
.button {
  position: relative;
  background-color: var(--primary-color);
  height: 40px;
  width: 130px;
  border-radius: 10px;
}
.button::before {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  content: "";
  border-radius: 10px;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
